* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.9);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-items: center;
}

.main-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 40rem;
    height: 25rem;
    background: rgba(73, 72, 72, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
}

.form-container {
    width: 100%;
    border-radius: 8px;
}

.form-container h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
}

form {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 1rem;
    border-radius: 8px;
}

form div {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0.4rem 0;
}

input {
    width: 100%;
    padding: 0.8rem;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.9);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

input[type="checkbox"] {
    width: 15px;
}

span {
    margin: 0 0.4rem;
}

.f-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: rgba(255, 255, 255, 0.5);
}

button {
    padding: 0.7rem;
    width: 80%;
    border: none;
    border-radius: 6px;
    background: linear-gradient(
        to right,
        rgba(51, 63, 232, 0.5),
        rgba(236, 45, 125, 0.5),
        rgba(179, 182, 221, 0.5)
    );
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    margin: 0.5rem 0;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.circle1,
.circle2,
.circle3 {
    width: 5rem;
    height: 5rem;
    background: linear-gradient(
        to right bottom,
        rgba(248, 79, 7, 0.9),
        rgba(233, 77, 222, 0.9),
        rgba(63, 60, 238, 0.3)
    );
    position: relative;
    box-shadow: 0 0 20px 5px #e375c0;
    animation: glow-animation 1s infinite alternate;
    border-radius: 50%;
}

.circle1 {
    bottom: 25rem;
    right: 22rem;
    transition: box-shadow 0.3s ease;
}

.circle2 {
    bottom: 32rem;
    left: 22%;
}

.circle3 {
    bottom: 14rem;
    left: 24%;
}

@keyframes glow-animation {
    0% {
        box-shadow: 0 0 20px 5px #ee72c7;
    }
    100% {
        box-shadow: 0 0 30px 10px #a15689;
    }
}

